* {
  box-sizing: border-box;
}

body {
  background-color: #E4E4E4;
  color: #202020;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

h2 {
  font-size: 36px;
  padding-bottom: 0.5rem;
  letter-spacing: -1px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

p {
  width: 100%;
  padding: 0.5rem;
  word-wrap: break-word;
  display: block;
  margin: 0;
}

div {
  display: block;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #F6F6F6;
  position: fixed;
  border-bottom: 3px solid  #D74A3A;
  width: 100%;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  z-index: 1;
}

nav li {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

nav ul {
  list-style: none;
  margin: 0;

}

nav li a {
  display: inline-block;
  padding: 2em 1em;
  text-decoration: none;
  color: #333;
  -webkit-transition: all .2s;
  transition: all .2s;

}

nav li a:hover {
  background-color:white;
}

footer {
  display: block;
  padding: 2em 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 1;
}

.home-page-background {
  display: flex;
  justify-content: center;
}

@keyframes FadeInOnLoad{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}

.home-page-image {
  z-index: -1;
  opacity: 0.9;
  height: 1575px;
  width: 1130px;
  background-image: url("http://www.sfu.ca/~lyum/iat339/Lab/IAT339_P03_KuangXian_Yum_301355872/Portfolio/img/2021/ayame3b.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: 70%;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: FadeInOnLoad;
}


.front-text {
  background-color: #D74A3A;
  border-bottom: 3px solid #2F2E2E;
  border-right: 3px solid #2F2E2E;
  position: absolute;
  top: 70%;
  left:0;
  text-align: center;
  color: white;
  margin-left: -0.5rem;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  padding-right: 3.5rem;
  padding-left: 8.5rem;
  letter-spacing: 5px;
}

.title {
  font-size: 3rem;
}

.subtitle {
  font-size: 1.5rem;
}

.content-container {
  position: absolute;
  background-color: #2F2E2E;
  padding: 50px 80px;
  text-align: center;
  margin: auto;
  width: 100%;
  top: 120%;
  color: white;
}

.content-featured {
  display: flex;
  justify-content: center;
  vertical-align: top
}

.content-featured-images img{
  padding: 2rem;
  width: 350px;
  height: 500px;
  object-fit: cover;

}

#process-analysis1, #process-analysis2 {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#process-analysis1 {
  padding: 10rem 20% 2rem 20%;
}

#process-analysis2{
  padding: 5rem 20% 2rem 20%;
}

#process-analysis1 h3, #process-analysis2 h3{
  text-align: center;
  margin-bottom: 3rem;
}

#process-analysis1 .content-imageset, #process-analysis2 .content-imageset{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1rem;
  margin-bottom: 3rem;
}

#process-analysis1 .content-imageset-sub, #process-analysis2 .content-imageset-sub{
  margin: 1.5rem;
}

#process-analysis1 img{
  width: 419.4px;
  height: 600px;
}

#process-analysis2 img{
  width: 436px;
  height: 476.6px;
}


.copyright {
  margin-top: -2em;
  padding-top: 0.75em;
  margin-bottom: -1.25em;
  padding-bottom: -1.25em;
  border-top: 5px solid #F6F6F6;
  text-align: center;
}
