

* {
  box-sizing: border-box;
}

html{
  height: 100%;
}

body {
  background-color: #E4E4E4;
  color: #202020;
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 36px;
  padding-bottom: 0.5rem;
  letter-spacing: 1rem;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
}

p {
  width: 100%;
  padding: 0.5rem;
  word-wrap: break-word;
  display: block;
  margin: 0;
}

div {
  display: block;
}

/* nav header general */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #EBEBEB;
  position: fixed;
  border-bottom: 3px solid  #D74A3A;
  width: 100%;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  z-index: 1;
}

/* nav header for PC */
@media only screen and (min-width: 1000px){
  nav li {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  nav ul {
    list-style: none;
    margin: 0;
  }

  nav li a {
    display: inline-block;
    padding: 2em 1em;
    text-decoration: none;
    color: #333;
    -webkit-transition: all .2s;
    transition: all .2s;
  }

  nav li a:hover {
    background-color:white;
  }
}

/* nav header for mobile */
@media only screen and (max-width:999px){
  nav li {
    text-transform: uppercase;
    letter-spacing: 0.75rem;
  }

  nav ul {
    list-style: none;
    margin: auto;
  }

  nav li a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #333;
    -webkit-transition: all .2s;
    transition: all .2s;
    left:0;
    right: 0;
  }

  nav li a:hover {
    border-left: 2px solid #D74A3A;
    background-color: white;
  }
}

@keyframes FadeInOnLoad{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}

/* homepage for PC */
@media only screen and (min-width:1000px){
  .home-page-background {
    display: flex;
    justify-content: center;
  }

  .home-page-image {
    z-index: -1;
    opacity: 0.9;
    height: 1575px;
    width: 1130px;
    background-image: url("http://www.sfu.ca/~lyum/iat339/Lab/IAT339_P03_KuangXian_Yum_301355872/Portfolio/img/2021/ayame3b.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: 70%;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: FadeInOnLoad;
  }

  .front-text {
    background-color: #D74A3A;
    border-bottom: 3px solid #2F2E2E;
    border-right: 3px solid #2F2E2E;
    position: absolute;
    top: 70%;
    left:0;
    text-align: center;
    color: white;
    margin-left: -0.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    padding-right: 3.5rem;
    padding-left: 8.5rem;
    letter-spacing: 5px;
  }

  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .content-container {
    position: absolute;
    border-top: 4px solid #D74A3A;
    border-bottom: 4px solid #D74A3A;
    background-color: #333;
    padding: 50px 80px;
    text-align: center;
    margin: auto;
    width: 100%;
    top: 120%;
    left: 0;
    color: white;
  }

  .content-featured {
    display: flex;
    justify-content: center;
    vertical-align: top;
  }

  .content-featured-images {
    width: 20%;
  }

  .content-featured-images:hover{
    opacity: 0.7;
    transition: 450ms;
    cursor: pointer;
  }

  .content-featured-images img{
    padding: 2rem;
    width: 350px;
    height: 500px;
    object-fit: cover;
  }
}

/* homepage for mobile */
@media only screen and (max-width:999px){
  .home-page-background {
    display: flex;
    width: 2000px;
  }

  .home-page-image {
    z-index: -1;
    opacity: 0.9;
    height: 1575px;
    width: 100%;
    background-image: url("http://www.sfu.ca/~lyum/iat339/Lab/IAT339_P03_KuangXian_Yum_301355872/Portfolio/img/2021/ayame3b.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: FadeInOnLoad;
  }

  .front-text {
    background-color: #D74A3A;
    border-bottom: 3px solid #2F2E2E;
    border-right: 3px solid #2F2E2E;
    position: absolute;
    top: 50%;
    left:0;
    text-align: center;
    color: white;
    margin-left: -0.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 3rem;
    letter-spacing: 3px;
  }

  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 0.75rem;
  }

  .content-container {
    display: block;
    position: absolute;
    border-top: 4px solid #D74A3A;
    border-bottom: 4px solid #D74A3A;
    background-color: #333;
    padding: 10px;
    text-align: center;
    margin: auto;
    width: 100%;
    top: 80%;
    margin-left: -0.5rem;
    color: white;
  }

  .content-featured {
    display: block;
    justify-content: center;
    vertical-align: top
  }

  .content-featured-images img{
    padding-bottom: 0.25rem;
    width: 200px;
    height: 300px;
    object-fit: cover;
  }
}

/*bio page general */
.about-me-content{
  display: flex;
}

.about-me-text-content{
  font-size: 14px;
}

.about-me-text-content-stats {
  font-size: 18px;
  margin-top: 2rem;
}

.social-media li{
  list-style: none;
}

.social-media li:hover{
  opacity: 0.7;
}

.sm-pixiv{
  padding: 0 3rem;
}

/* bio page for PC */
@media only screen and (min-width:1000px){
  .about-me-header{
    position: absolute;
    margin-top: 6rem;
    left: 42%;
  }

  .about-me-pfp img{
    position: absolute;
    left: 20%;
    top: 16rem;
    border-radius: 50%;
  }

  .about-me-text {
    position: absolute;
    margin: 0px 0px 0 20rem;
    left: 25%;
    top: 15rem;
  }

  #profile-line {
    height: 5px;
    width: 50rem;
    border-top: 3px solid #D74A3A;
    margin-bottom: 1rem;
    margin-top: -0.75rem;
  }

  .about-me-text-content, .about-me-text-content-stats {
    margin-left: -0.25rem;
    letter-spacing: 0.1rem;
    width: 45rem;
    text-align: left;
  }

  .social-media {
    display: flex;
    position: relative;
    width: 100%;
    top: 35rem;
    left: 20%;
  }
}

/* bio page for mobile */
@media only screen and (max-width: 999px){
  .about-me-header{
    position: absolute;
    margin-top: 6rem;
    top: 4rem;
    left: 4rem;
  }

  .about-me-pfp img{
    position: absolute;
    left: 3rem;
    top: 16rem;
    border-radius: 50%;
  }

  .about-me-text {
    position: absolute;
    width: 350px;
    left: 0;
    top: 50%;
    padding-top: 10rem;
    padding-left: 1.5rem;
  }

  #profile-line {
    height: 5px;
    width: 18rem;
    border-top: 3px solid #D74A3A;
    margin-bottom: 1rem;
    margin-top: -0.75rem;
  }

  .about-me-text-content, .about-me-text-content-stats {
    margin-left: -0.25rem;
    letter-spacing: 0.1rem;
    text-align: left;
  }

  .social-media {
    display: flex;
    position: relative;
    width: 100%;
    bottom: -73rem;
    left: 15%;
  }
}

/* gallery page general*/
.works-container{
  display: flex;
  justify-content: center;
}

.works-content {
  margin-top: 12.5rem;
  padding: 0 3rem;
}

.works-image:hover{
  opacity: 0.7;
  transition: 450ms;
  cursor: pointer;
}

/* gallery page for PC */
@media only screen and (min-width: 1000px){
  .works-header{
    position: absolute;
    margin-top: 6rem;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
    margin-bottom: 1rem;
    width: 100%;
  }

  .year-line {
    height: 5px;
    width: 8rem;
    border-top: 3px solid #D74A3A;
    margin: -1.25rem 0 1rem 0;
  }

  .container-2021 {
    margin-bottom: 5rem;
  }

  .container-2020 {
    margin-bottom: 3rem;
  }

  .works-image{
    position: relative;
    width: 20%;
    padding: 0 0.5rem;
  }

  .works-image img{
    height: 35rem;
    object-fit: cover;
  }

  .process-container {
    display: flex;
    justify-content: center;
  }
}

/* gallery page for mobile */
@media only screen and (max-width: 999px){
  .works-header{
    position: absolute;
    margin-top: 6rem;
    top: 4rem;
    left: 4rem;
  }

  .works-content h2 {
    text-align: center;
    margin-top: 5rem;
    font-size: 24px;
  }

  .row {
    display: block;
    flex-wrap: wrap;
    padding: 0 2px;
    margin-bottom: 1rem;
    width: 100%;
  }

  .year-line {
    height: 5px;
    width: 12rem;
    border-top: 3px solid #D74A3A;
    margin: -0.5rem 0 1.25rem 4rem;
  }

  .container-2021 {
    margin-bottom: -1.75rem;
  }

  .works-image{
    position: relative;
    padding: 0 0.5rem;
  }

  .works-image img{
    height: 25rem;
    object-fit: scale-down;
  }
}

/* process analyses pages general*/
.process-button{
  margin: 3rem;
  overflow: hidden;
}

.process-image img {
  width: 20rem;
  height: 20rem;
  opacity: 0.85;
}

.process-text {
  position: absolute;
  transform: translateY(-20.25em);
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.process-text:hover {
  box-shadow: 0 4px 8px 2px rgb(0 0 0);
  transition-duration: 600ms;
}

.process-title, .process-titlew, .process-title, .process-titlew{
  margin-top: -5rem;
  color: #202020;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-bottom: 0.75rem;
}

.process-description {
  color: #202020;
}

.process-titlew, .process-descriptionw {
  color: #FFF;
}

#process-analysis1 p, #process-analysis2 p {
  letter-spacing: 1px;
}

#process-analysis1 h4, #process-analysis2 h4 {
  margin-top: 0.25rem;
  font-style: italic;
}

/* process analyses pages for PC */
@media only screen and (min-width: 1000px){
  #process-analysis1, #process-analysis2 {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  #process-analysis1, #process-analysis2 {
    padding: 10rem 20% 2rem 20%;
  }

  #process-analysis1 h2, #process-analysis2 h2 {
    text-align: center;
    letter-spacing: 0.5rem;
    margin-bottom: 3rem;
  }

  #process-analysis1 h3, #process-analysis2 h3 {
    font-size: 22px;
    letter-spacing: 0.15rem;
  }

  #process-analysis1 .content-imageset, #process-analysis2 .content-imageset{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1rem;
    margin-bottom: 3rem;
  }

  #process-analysis1 .content-imageset-sub, #process-analysis2 .content-imageset-sub{
    margin: 1.5rem;
  }

  #process-analysis1 img{
    width: 419.4px;
    height: 600px;
  }

  #process-analysis2 img{
    width: 436px;
    height: 476.6px;
  }
}

/* process analyses pages for mobile */
@media only screen and (max-width: 999px){
  #process-analysis1, #process-analysis2 {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  #process-analysis1, #process-analysis2 {
    padding-top: 10rem;
  }

  #process-analysis1 h2, #process-analysis2 h2 {
    text-align: center;
    letter-spacing: 0.5rem;
    margin-bottom: 3rem;
  }

  #process-analysis1 h3, #process-analysis2 h3 {
    font-size: 22px;
    letter-spacing: 0.15rem;
  }

  #process-analysis1 .content-imageset, #process-analysis2 .content-imageset{
    width: auto;
    display: inline-block;

  }
  #process-analysis1 .content-imageset img, #process-analysis2 .content-imageset img{
    width: 100%;
    height: auto;
  }

}

/* contact page general */
.contact-content{
  display: flex;
  justify-content: center;
}

.contact-text-content{
  margin-left: -0.25rem;
  max-width: 35rem;
  letter-spacing: 0.1rem;
  padding-bottom: 0.75rem;
}

#contentsplit {
  margin-top: 0.75rem;
}

.contact-text-email {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #B93B2D;
}

.contact-text ul{
  list-style: none;
}

.contact-text li{
  padding: 0.15rem;
  color: #B93B2D;
  letter-spacing: 0.5px;
  margin-left: -2.25rem;
}

.twitter-link {
  font-weight: bold;
  font-size: 20px;
}

/* contact page for PC */
@media only screen and (min-width: 1000px){
  .contact-header{
    position: absolute;
    margin-top: 6rem;
  }

  .contact-text {
    position: absolute;
    text-align: center;
    top: 15rem;
  }
}

/* contact page for mobile */
@media only screen and (max-width: 999px){
  .contact-header{
    position: absolute;
    margin-top: 10rem;
  }

  .contact-text {
    position: absolute;
    text-align: center;
    top: 19rem;
  }
}

/* citations page */
.citation-container{
  display: block;
}

.citation-header{
  text-align: center;
  padding: 8rem 0 3rem 0;
}

/* footer general */
footer {
  .display: block;
}

/* footers page for PC */
@media only screen and (min-width: 1000px){
  .footer-container{
    position: absolute;
    padding: 2em 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    bottom: 0;
    overflow: hidden;
  }

  .footer-container-home {
    position: relative;
    bottom: -15.5rem;
  }

  #footerworks {
    position: relative;
    bottom: -205%;
  }

  #footeranalysis1, #footeranalysis2 {
    position: relative;
    bottom: -455%;
  }

  .copyright {
    margin-top: 0.75em;
    padding-top: 0.75em;
    margin-bottom: -1.25rem;
    border-top: 5px solid #F6F6F6;
    text-align: center;
  }
}

/* footers page for mobile */
@media only screen and (max-width: 999px){
  .footer-container-home {
    position: relative;
    width: 100%;
    bottom: -45rem;
  }

  #footerabout{
    position: absolute;
    padding: 2rem 0;
    margin-left: -0.5rem;
    width: 100%;
    bottom: -35rem;
    overflow: hidden;
  }

  #footeranalysis1, #footeranalysis2 {
    margin-top: 2rem;
  }

  #footercontact{
    position: absolute;
    padding: 2rem 0;
    margin-left: -0.5rem;
    width: 100%;
    bottom: -10rem;
    overflow: hidden;
  }

  .copyright {
    margin-top: 0.75em;
    padding-top: 0.75em;
    margin-bottom: -1.25rem;
    border-top: 5px solid #F6F6F6;
    text-align: center;
  }
}
