body {
  background-color: #DADADA;
  color: #202020;
}

h2 {
  font-family: lato;
  padding-bottom: 0.5rem;

}

p {
  width: 100%;
  padding: 0.5rem;
  word-wrap: break-word;
  display: block;
  margin: 0;
}

.content-container {
  padding-top: 4rem;
  margin-left: 3rem;
  margin-right: 6rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

.bar1 {
  padding: 1rem;
  background-color: black;
  color: white;
}

.bar2 {
  padding: 1rem;
  background-color: white;
  color: black;
}

.bar3 {
  padding: 1rem;
  background-color: #DADADA;
  color: black;
}

.bar4 {
  padding: 1rem;
  background-color: #D74A3A;
  color: white;
}
