body {
  background-color: #DADADA;
}

p {
  width: 100%;
  padding: 0.5rem;
  word-wrap: break-word;
  display: block;
  margin: 0;

}

.content-container {
  padding-top: 4rem;
  margin-left: 3rem;
  margin-right: 6rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

.colorpalette{
  padding: 1.5rem;
}

.bar1 {
  background-color: black;
  color: white;
}

.bar2 {
  background-color: white;
  color: black;
}

.bar3 {
  background-color: #DADADA;
  color: black;
}

.bar4 {
  background-color: #D74A3A;
  color: white;
}
